# 编辑器缓存
.vscode/
.trae/
*.bak

# Keil MDK 专属忽略
# 编译产物
*.axf
*.hex
*.elf
*.map
*.lst
*.o
*.obj
*.crf
*.lnp
*.build_log.htm
*.dep
*.iex
*.htm
*.sctobj
*.uvopt.bak
*.uvprojx.bak
*.bak*

# Keil配置备份/临时文件
*.uvoptx         # 如需多人协作共享调试配置，可注释此行（建议忽略，各自保留本地配置）
*.uvguix.*       # Keil用户界面配置（窗口布局、断点等，纯本地）
*.uvgui.*        # 旧版Keil用户配置

#  STM32CubeMX 专属忽略
# CubeMX自动生成的工程文件（核心配置保留，生成文件忽略）
*.ioc.bak        # IOC配置备份
*.ioc.user       # CubeMX本地用户配置